.sidebar {
    position: fixed;
    left: 0px;
    top: 60px;
    width: 160px;
    height: 100%;
    background-color: #61d661;
    color: white;
}
.sidebar .menu {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-top: 1px solid white;
}
.sidebar .menu.selected {
    background-color: #23a023;
}
.sidebar .menu:hover,
.sidebar .menu:focus:active {
    background-color: #23a023;
}